/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto+Mono:wght@700&display=swap');
/*Fim Fonts*/

/*Variáveis*/
:root{
    --fonts-h: 'Roboto Mono';
    --fonts-p: 'Raleway';
}
/*Fim Variáveis*/

/*Configs padrão*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
/*Fim Configs padrão*/

/*NavBar*/
nav{
    width: 100%;
    position: sticky;
    top: 0;
    font-family: var(--fonts-p);
    background-image: linear-gradient(to right, #1E3441, #3C7388);
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 3vh 0;
}
nav  a{
    text-decoration: none;
    color: #fff;
    margin: 0 2vw;
    font-size: 1.5vw;
    text-shadow: 2px 2px 3px #140F0B;
}
nav a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
/*Fim NavBar*/

/*header*/
header{
    background-image: url(img/nigthSky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 47.2vw;
    width: 100%;
    box-shadow: 1px 1px 15px black;
}
header .title{
    margin: 25vw 5vw;
    align-items: center;
    width: 27.5vw;
}
header .title h1{
    font-family: var(--fonts-h);
    font-size: 3.5vw;
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 2px 2px 5px #140F0B;
}
@keyframes blinkCursor{
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 32vw;
    }
}
.animation{
    animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}
header .info{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B3C4F;
    margin: 15vw 1vw 15vw 14vw;
    color: white; 
    border-radius: 25px;
    box-shadow: 2px 2px 15px #1E3441;
}
header .info p{
    width: 35vw;
    align-items: flex-end;
    font-family: var(--fonts-p);
    font-size: 2vw;
}
header .info h2{
    font-size: 2.5vw;
    font-family: var(--fonts-h);
    text-shadow: 2px 2px 5px #140F0B;
}
/*Fim do header*/

/*O que faço*/
.sectionZero{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #4C7BA9, #fff);
}
.sectionZero img{
    border-radius: 15px;
    width: 80vw;
    height: 82.3vh;
    margin: 2vw 0vw 2vw 10vw;
    border: 3px solid #fff;
    text-shadow: 2px 2px 2px black;
}
.sectionZero .textoSectionZero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vh 20vw;
}
.sectionZero .textoSectionZero h2{
    font-family: var(--fonts-h);
    text-shadow: 2px 2px 2px gray;
    font-size: 2vw;
}
.sectionZero .textoSectionZero p{
    font-family: var(--fonts-p);
    font-size: 1.4vw;
    font-weight: bold;
}
/*Fim O que faço*/

/*Projetos*/
.sectionOne {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionOne h2{
    font-family: var(--fonts-h);
    font-size: 3vw;
    text-decoration: underline;
    text-align: center;
    text-shadow: 2px 2px 5px gray;
}
.sectionOne .exProjetos{
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}
.sectionOne .exProjetos div{
    width: 50vw;
    margin: 1vw 1vw;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #140F0B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}
.sectionOne .exProjetos div h3{
    font-family: var(--fonts-h);
    font-size: 2vw;
    margin: 1vw;
}
.sectionOne .exProjetos div p{
    color: black;
    font-weight: bold;
    width: 18vw;
    margin-top: 3vh;
    font-family: var(--fonts-p);
    font-size: 1.2vw;
}
.sectionOne .exProjetos div .imgMarioJump{
    width: 15vw;
    height: 30vh;
    border-radius: 5px;
    border: 2px solid #1E3441;
    background-image: url(img/marioJump.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionOne .exProjetos div .imgGenius{
    width: 15vw;
    height: 30vh;
    border-radius: 5px;
    border: 2px solid #1E3441;
    background-image: url(img/geniusGame.png);
    background-position: center;
    background-size: cover;
}
.sectionOne .exProjetos div .imgEmBreve{
    width: 15vw;
    height: 30vh;
    border-radius: 5px;
    border: 2px solid #1E3441;
    background-image: url(img/emBreve.png);
    background-position: center;
    background-size: cover;
}
/*Fim projetos*/

/*Linguagens*/
.sectionTwo{
    display: flex;
    flex-direction: column;
}
.sectionTwo .divisorDeTextos{
    display: flex;
    flex-direction: row;
}
.logoLinguagens{
    border: 2px solid #140F0B;
    border-radius: 3px;
    font-size: 10vw;
    width: 10vw;
    height: 20vh;
}
/*Fim linguagens*/