/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto+Mono:wght@700&display=swap');
/*Fim Fonts*/

/*Variáveis*/
:root{
    --fonts-h: 'Roboto Mono';
    --fonts-p: 'Raleway';
}
/*Fim Variáveis*/

/*Configs padrão*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(248, 250, 239);
}
/*Fim Configs padrão*/

/*content*/
#content1, #content2, #content3, #content4, #content5{
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -9.5vh; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
    background-color: transparent;
    z-index: -1;
}
/*fim content1*/

/*scroll*/
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 0.5vw;
}
body::-webkit-scrollbar-track{
    background-color: #1E3441;
}
body::-webkit-scrollbar-thumb{
    background-color: #02b7ff;
    border-radius: 25px;
    border: 3px solid #02b7ff;
}
/*fim scroll*/

/*NavBar*/
nav{
    width: 100%;
    position: sticky;
    top: 0;
    font-family: var(--fonts-p);
    background-image: linear-gradient(to right, #1E3441, #3C7388);
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 3vh 0;
    z-index: 1;
}
nav  a{
    text-decoration: none;
    color: #fff;
    margin: 0 2vw;
    font-size: 1.5vw;
    text-shadow: 2px 2px 3px #140F0B;
}
nav a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
/*Fim NavBar*/

/*header*/
header{
    background-image: url(img/nigthSky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 47.2vw;
    width: 100%;
}
header .title{
    margin: 25vw 5vw;
    align-items: center;
    width: 27.5vw;
}
header .title h1{
    font-family: var(--fonts-h);
    font-size: 3.5vw;
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 2px 2px 5px #140F0B;
}
@keyframes blinkCursor{
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 32vw;
    }
}
.animation{
    animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}
header .info{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B3C4F;
    margin: 15vw 1vw 15vw 14vw;
    color: white;
    box-shadow: 2px 2px 15px #1E3441;
}
header .info p{
    width: 35vw;
    align-items: flex-end;
    font-family: var(--fonts-p);
    font-size: 2vw;
}
header .info h2{
    font-size: 2.5vw;
    font-family: var(--fonts-h);
    text-shadow: 2px 2px 5px #140F0B;
}
/*Fim do header*/

/*O que faço*/
.sectionZero{
    display: flex;
    flex-direction: row;
}
.sectionZero img{
    border-radius: 2px;
    width: 80vw;
    height: 82.3vh;
    margin: 2vw 0vw 2vw 10vw;
    border: 3px solid #1B3C4F;
    box-shadow: 1px 1px 5px #140F0B;
}
.sectionZero .textoSectionZero{
    display: flex;
    flex-direction: column;
    width: 160vw;
    height: 60vh;
    justify-content: center;
    background-color: #fff;
    margin: 10vh 12vw;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #140F0B;
}
.sectionZero .textoSectionZero h2{
    font-family: var(--fonts-h);
    text-shadow: 2px 2px 2px gray;
    font-size: 2vw;
}
.sectionZero .textoSectionZero p{
    font-family: var(--fonts-p);
    font-size: 1.4vw;
    font-weight: bold;
    margin: 3vh 0vw;
}
/*Fim O que faço*/

/*Projetos*/
.sectionOne {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionOne h2{
    font-family: var(--fonts-h);
    font-size: 3vw;
    text-decoration: underline;
    text-align: center;
    color: #140F0B;
    background-color: #fff;
    padding: 0.5vh 2vw 2vh 2vw;
    box-shadow: 0px 0px 2px #140F0B;
}
.sectionOne .exProjetos{
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}
.sectionOne .exProjetos div{
    width: 50vw;
    margin: 1vw 1vw;
    height: 67vh;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 2px #140F0B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}
.sectionOne .exProjetos div h3{
    font-family: var(--fonts-h);
    font-size: 2vw;
    margin: 1vw;
}
.sectionOne .exProjetos div p{
    text-align: center;
    color: black;
    font-weight: bold;
    width: 19vw;
    margin-top: 3vh;
    font-family: var(--fonts-p);
    font-size: 1.2vw;
}
.sectionOne .exProjetos div .imgMarioJump{
    width: 15vw;
    height: 30vh;
    border-radius: 1px;
    border: 2px solid #1E3441;
    background-image: url(img/marioJump.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionOne .exProjetos div .imgGenius{
    width: 15vw;
    height: 30vh;
    border-radius: 1px;
    border: 2px solid #1E3441;
    background-image: url(img/geniusGame.png);
    background-position: center;
    background-size: cover;
}
.sectionOne .exProjetos div .imgEmBreve{
    width: 15vw;
    height: 30vh;
    border-radius: 1px;
    border: 2px solid #1E3441;
    background-image: url(img/emBreve.png);
    background-position: center;
    background-size: cover;
}
/*Fim projetos*/

/*Linguagens*/
.sectionTwo{
    display: flex;
    flex-direction: column;
    height: 91vh;
    width: 100%;
    background-image: url(img/nigthSky.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sectionTwo .divisorDeTextos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTwo .divisorDeTextos h2{
    font-size: 3.5vw;
    font-family: var(--fonts-h);
    text-decoration-line: underline;
    margin: 2vw;
    padding: 1vw;
    background-color: transparent;
    box-shadow: 0px 0px 5px #140F0B;
    color: #fff;
}
.sectionTwo .divisorDeTextos .divLinguagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logoLinguagens{
    background-color: transparent;
    box-shadow: 0px 0px 5px #02b7ff;
    border-radius: 3px;
    width: 15vw;
    height: 25vh;
    margin: 1vw;
}
#logoHtml, #logoCss, #logoJavaScript, #logoGitHub, #logoRedes, #logoFigma{
    color: #fff;
}
#logoHtml:hover{
    color: orangered;
    background-color: #140F0B;
}
#logoCss:hover{
    color: aqua;
    background-color: #140F0B;
}
#logoJavaScript:hover{
    color: yellow;
    background-color: #140F0B;
}
#logoGitHub:hover{
    color: blueviolet;
    background-color: #140F0B;
}
#logoRedes:hover{
    color: blue;
    background-color: #140F0B;
}
#logoFigma:hover{
    color: green;
    background-color: #140F0B;
}
.sectionTwo .divisorDeTextos p{
    font-family: var(--fonts-p);
    font-size: 2vw;
    color: #fff;
}
/*Fim linguagens*/

/*Contato*/
.sectionThree{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    background-color: #fff;
    align-items: center;
    margin: 5vh 5vw;
    box-shadow: 0px 0px 5px #140F0B;
    border-radius: 2px;
}
.sectionThree .mensagem, .sectionThree .contatos{
    width: 40vw;
    padding: 0vh 3vw;
}
.sectionThree .mensagem{
    border-right: 0.1px solid #140F0B;
    font-family: var(--fonts-p);
    display: flex;
    flex-direction: column;
}
.sectionThree .mensagem h2{
    font-size: 2vw;    
}
.sectionThree .mensagem div p{
    position: relative;
    width: 15vw;
    top: 3.5vh;
    left: 0.5vw;
}
.sectionThree .mensagem div p:hover{
    opacity: 0;
}
.sectionThree .mensagem div input{
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: 0px 0px 1px #140F0B;
    width: 40vw;
    height: 4vh;
}
.sectionThree .mensagem .suaMsg input{
    height: 15vh;
}
.sectionThree .mensagem .botao{
    margin: 2vh 10vw;
    width: 12vw;
    height: 8vh;
    text-decoration: none;
    background-color: #02b7ff;
    font-size: 1.3vw;
    border: 0px solid transparent;
    border-radius: 25px;
    color: #fff;
    transition: 0.5s;
}
.sectionThree .mensagem .botao:hover{
    background-color: #006891;
    color: #fff;
    cursor: pointer;
}
.sectionThree .contatos{
    border-left: 0.1px solid #140F0B;
    font-family: var(--fonts-p);
    display: flex;
    flex-direction: column;
    padding: 5.8vh 5vw;
}
.sectionThree .contatos h2{
    font-size: 2vw;
}
.sectionThree .contatos p{
    font-size: 1.3vw;
}
.sectionThree .contatos .telefone, .sectionThree .contatos .email{
    display: flex;
    flex-direction: row;
    margin: 1vh 0vw;
    align-items: center;
}
.sectionThree .contatos div ion-icon{
    font-size: 2vw;
}
.sectionThree .contatos .telefone ion-icon{
    color: green;
}
.sectionThree .contatos .email ion-icon{
    color: #006891;
}
.sectionThree .contatos div p a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
.sectionThree .contatos div p a:hover{
    color: #006891;
    text-decoration: underline;
}
.sectionThree .contatos .textoFinal{
    margin: 5vh 0vw;
}
/*Fim Contato*/

/*footer*/
footer{
    display: flex;
    background-color: #140F0B;
    height: 15vh;
    align-items: center;
    justify-content: center;
}
footer p{
    font-family: var(--fonts-p);
    color: #fff;
    font-size: 2vw;
}
footer p a{
    font-family: var(--fonts-p);
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
}
footer p a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*Fim footer*/