/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto+Mono:wght@700&display=swap');
/*Fim Fonts*/

/*Variáveis*/
:root{
    --fonts-h: 'Roboto Mono';
    --fonts-p: 'Raleway';
}
/*Fim Variáveis*/

/*Configs padrão*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
/*Fim Configs padrão*/

/*NavBar*/
nav{
    width: 100%;
    position: sticky;
    top: 0;
    font-family: var(--fonts-p);
    background-image: linear-gradient(to right, #1E3441, #3C7388);
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 3vh 0;
}
nav  a{
    text-decoration: none;
    color: #fff;
    margin: 0 2vw;
    font-size: 1.5vw;
    text-shadow: 2px 2px 3px #140F0B;
}
nav a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
/*Fim NavBar*/

/*header*/
header{
    background-image: url(img/nigthSky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 25vw;
    width: 100%;
}
header .title{
    margin: 10vw 5vw;
    align-items: center;
    width: 27.5vw;
}
header .title h1{
    font-family: var(--fonts-h);
    font-size: 3.5vw;
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 2px 2px 5px #140F0B;
}
@keyframes blinkCursor{
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 32vw;
    }
}
.animation{
    animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}
header .info{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B3C4F;
    margin: 2vw 1vw 2vw 14vw;
    color: white; 
    border-radius: 25px;
    box-shadow: 2px 2px 15px #1E3441;
}
header .info p{
    width: 35vw;
    align-items: flex-end;
    font-family: var(--fonts-p);
    font-size: 2vw;
}
header .info h2{
    font-size: 2.5vw;
    font-family: var(--fonts-h);
    text-shadow: 2px 2px 5px #140F0B;
}
/*Fim do header*/

/*O que faço*/
.sectionZero{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #4C7BA9, #fff);
}
.sectionZero img{
    border-radius: 15px;
    width: 30vw;
    height: 60vh;
    margin: 2vw;
    border: 3px solid #fff;
    text-shadow: 2px 2px 2px black;
}
.sectionZero .textoSectionZero{
    margin: 4vh 20vw;
}
/*Fim O que faço*/



img{
    width: 15vw;
    height: 30vh;
}